{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Lotto winning numbers combinations{% endblock %}

{% block content %}
<div class="row"> 
    <div class="col small text-left">&copy LT Combo 2018</div>
    <div class="col small text-right">Updated: {{updated_at}}</div>
    
</div>

<form method="get">
    <div class="row justify-content-center pt-5">   
        <div class="col-12 col-md-3 text-center ">
            {{ form.game|as_crispy_field }}
        </div>
        <div class="col-12 col-md-3 text-center">
            {{ form.numbers|as_crispy_field }}
        </div>
        <div class="col-12 col-md-2 text-center">
            {{ form.number|as_crispy_field }}
        </div>
        <div class="col-12 col-md-2 text-center">
            {{ form.occurrence|as_crispy_field }}
        </div>
        <div class="col-12 col-md-2 text-center" >
            <button type="submit" class="btn btn-secondary">Search</button>
        </div>
    </div>
</form>

<div class="row justify-content-center pt-5">
    {% include 'search_list.html' %} 
</div>

{% endblock %}
